img
{
    height: 200px;
    width: 200px;
}

.links a 
{
    border: 2px black solid;
    height: 150px;
    width: 150px;
    box-sizing: border-box;
    background-color: burlywood;
    color: black;
    padding: 1em;
    margin: 1em auto;
    display: inline-block;
    text-align: center;
    font-size: 30px;
}

.links a:hover 
{
  background-color: goldenrod;  
  color: yellow;
}

.odin
{
    margin: 0 0 1em 0;
    box-sizing: border-box;
    height: auto;
    width: 1000px;
    border: 2px solid black;
    text-align: center;
}

div
{
    margin: 1em;
}